# Default settings for C
compilers=&clang-enzyme-main:&reclang-enzyme-main
defaultCompiler=cclang${{ compilers[0].version }}-enzyme-main
demangler=c++filt
objdumper=objdump
postProcess=
supportsBinary=true
binaryHideFuncRe=^(__.*|_(init|start|fini)|(de)?register_tm_clones|call_gmon_start|frame_dummy|\.plt.*)$
stubRe=\bmain\b
stubText=int main(void){return 0;/*stub provided by Compiler Explorer*/}
supportsLibraryCodeFilter=true

group.clang-enzyme-main.compilers={% for compiler in compilers %}cclang{{ compiler.version }}-enzyme-main{% if not loop.last %}:{% endif %}{% endfor %}
group.clang-enzyme-main.intelAsm=-mllvm --x86-asm-syntax=intel
group.clang-enzyme-main.compilerType=clang
group.clang-enzyme-main.supportsExecute=true
group.clang-enzyme-main.isSemVer=true
group.clang-enzyme-main.groupName=CLANG + ENZYME (main)
group.clang-enzyme-main.options=-fno-discard-value-names

libs=petsc

{% include 'libs.j2' %}

{% for compiler in compilers %}
compiler.cclang{{ compiler.version }}-enzyme-main.exe=/usr/bin/clang-{{ compiler.version }}
compiler.cclang{{ compiler.version }}-enzyme-main.options=-fplugin=/opt/compiler-explorer/main/ClangEnzyme-{{ compiler.version }}.so -I/opt/compiler-explorer/libraries/include -L/opt/compiler-explorer/lib
compiler.cclang{{ compiler.version }}-enzyme-main.semver={{ compiler.semver }}
compiler.cclang{{ compiler.version }}-enzyme-main.name=clang {{ compiler.version }} ({{ compiler.enzyme_commit }})
{% endfor %}

group.reclang-enzyme-main.compilers=reclang
group.reclang-enzyme-main.intelAsm=-mllvm --x86-asm-syntax=intel
group.reclang-enzyme-main.compilerType=clang
group.reclang-enzyme-main.supportsExecute=true
group.reclang-enzyme-main.isSemVer=true
group.reclang-enzyme-main.groupName=REACTANT CLANG (main)
group.reclang-enzyme-main.options=-fno-discard-value-names -I/opt/compiler-explorer/libraries/include -L/opt/compiler-explorer/lib

compiler.reclang.exe=/opt/compiler-explorer/main/reactant-clang
compiler.reclang.options=-resource-dir=/usr/lib/llvm-21/lib/clang/21
compiler.reclang.name=Reactant Clang ({{ reactant_commit }})