compilers=&cuclang-enzyme-main
defaultCompiler=cuclang${{ compilers[-1].version }}-enzyme-main
supportsBinary=true
supportsExecute=false
demangler=c++filt

group.cuclang-enzyme-main.compilers={% for compiler in compilers %}cuclang{{ compiler.version }}-enzyme-main{% if not loop.last %}:{% endif %}{% endfor %}
group.cuclang-enzyme-main.compilerType=clang-cuda
group.cuclang-enzyme-main.objdumper=/opt/compiler-explorer/cuda/12.9.1/bin/nvdisasm
group.cuclang-enzyme-main.isSemVer=true
group.cuclang-enzyme-main.groupName=CUCLANG + ENZYME (main)

libs=eigen:boost:nlohmann_json:petsc

{% include 'libs.j2' %}

{% for compiler in compilers %}
compiler.cuclang{{ compiler.version }}-enzyme-main.exe=/usr/bin/clang++-{{ compiler.version }}
compiler.cuclang{{ compiler.version }}-enzyme-main.options=-fplugin=/opt/compiler-explorer/main/ClangEnzyme-{{ compiler.version }}.so --cuda-path=/opt/compiler-explorer/cuda/12.9.1 --cuda-gpu-arch=sm_70 --cuda-device-only
compiler.cuclang{{ compiler.version }}-enzyme-main.semver={{ compiler.semver }}
compiler.cuclang{{ compiler.version }}-enzyme-main.name=cuclang {{ compiler.version }} ({{ compiler.enzyme_commit }})
{% endfor %}

group.cuclang-enzyme-main.supportsExecute=false
group.cuclang.groupName=CUCLANG + ENZYME (main)
