compilers=&enzyme-opt-main
defaultCompiler=enzyme-opttrunk-main
compilerType=mlir

supportsBinary=false
supportsExecute=false
supportsAsmDocs=false

group.enzyme-opt-main.compilers=enzyme-opttrunk-main
group.enzyme-opt-main.isSemVer=true
group.enzyme-opt-main.baseName=enzyme-opt (main)

compiler.enzyme-opttrunk-main.exe=/opt/compiler-explorer/main/enzyme-opttrunk
compiler.enzyme-opttrunk-main.semver=trunk
compiler.enzyme-opttrunk-main.options=
compiler.enzyme-opttrunk-main.name=enzyme-opt trunk ({{ enzymejax_commit }})
