#################################
#################################
# Installed libs (See c++.amazon.properties for a scheme of libs group)
libs=eigen:boost:nlohmann_json:petsc:mfem

libs.boost.name=Boost
libs.boost.versions=178
libs.boost.url=https://www.boost.org
libs.boost.versions.178.version=1.78.0
libs.boost.versions.178.path=/opt/compiler-explorer/libs/boost_1_78_0

libs.eigen.name=Eigen
libs.eigen.versions=340
libs.eigen.url=http://eigen.tuxfamily.org/index.php?title=Main_Page
libs.eigen.versions.340.version=3.4.0
libs.eigen.versions.340.path=/opt/compiler-explorer/libs/eigen/v3.4.0

libs.nlohmann_json.name=nlohmann::json
libs.nlohmann_json.versions=3111
libs.nlohmann_json.url=https://github.com/nlohmann/json
libs.nlohmann_json.versions.3111.version=3.11.1
libs.nlohmann_json.versions.3111.path=/opt/compiler-explorer/libs/nlohmann_json/v3.11.1/single_include

libs.petsc.name=PETSc
libs.petsc.versions=3194
libs.petsc.url=https://petsc.org
libs.petsc.versions.3194.version=3.19.4
libs.petsc.versions.3194.path=/opt/compiler-explorer/libs/petsc-3.19.4/include

libs.mfem.name=mfem
libs.mfem.url=https://mfem.org
libs.mfem.description=MFEM is a free, lightweight, scalable C++ library for finite element methods.<br /><br />Note that the trunk version is no longer available, use v4.7 instead.
libs.mfem.packagedheaders=true
libs.mfem.versions=47
libs.mfem.staticliblink=mfem
libs.mfem.versions.47.version=4.7
